{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "android >= 4"
          ]
        },
        "useBuiltIns": true,
        "modules": false,
        "debug": true
      }
    ],
    "stage-2"
  ],
  "plugins": [
    "transform-runtime",
    [
      "import",
      {
        "libraryName": "vant",
        "libraryDirectory": "es",
        "style": true
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node"
      ]
    }
  }
}
